*, html, body{
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
    display: flex;
    justify-content: center;    
}


body {
    background: url(./img/artworks-35gCB0VtaGYTcW5W-VRwZ1A-t500x500.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    }


.wrap{
    display: flex;
    padding: 10px;
    background: linear-gradient(blue, yellow);
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    flex-wrap: wrap;
    width: 500px;
    min-width: 500px;
    opacity: 0.7;
}

.button{
    height: 40px;
    width: 40px;
    background-color: white;
    outline: none;
    border: 1px solid black;
    margin: 5px;
}

.hit{
    background: linear-gradient(black, red);
}
.past{
    background-color: blue
}